<div>
  <button mat-button [matMenuTriggerFor]="technology">TECHNOLOGY</button>

  <mat-menu #technology="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="computer">
      <span class="menu-item" routerLink="/products/electronics">Computer</span>
    </button>
    <button mat-menu-item><span class="menu-item">Telephone</span></button>
  </mat-menu>

  <mat-menu #computer="matMenu">
    <button mat-menu-item><span class="menu-item" routerLink="/products/electronics">Desktop</span></button>
    <button mat-menu-item><span class="menu-item" routerLink="/products/electronics">Notebook</span></button>
  </mat-menu>
</div>
