<div>
  <button mat-button [matMenuTriggerFor]="clothes">CLOTHES</button>
  <mat-menu #clothes="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="men">
      <span class="menu-item" routerLink="/products/men's%20clothing">MEN</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="women">
      <span class="menu-item" routerLink="/products/women's%20clothing">WOMEN</span>
    </button>
    <button mat-menu-item>
      <span class="menu-item">KIDS</span>
    </button>
  </mat-menu>

  <mat-menu #men="matMenu">
    <button mat-menu-item routerLink="/products/men's%20clothing"><span class="menu-item">tshirt</span></button>
    <button mat-menu-item routerLink="/products/men's%20clothing"><span class="menu-item">pants</span></button>
    <button mat-menu-item routerLink="/products/men's%20clothing"><span class="menu-item">shoes</span></button>
  </mat-menu>

  <mat-menu #women="matMenu">
    <button mat-menu-item routerLink="/products/women's%20clothing"><span class="menu-item">tshirt</span></button>
    <button mat-menu-item routerLink="/products/women's%20clothing"><span class="menu-item">pants</span></button>
    <button mat-menu-item routerLink="/products/women's%20clothing"><span class="menu-item">shoes</span></button>
    <button mat-menu-item routerLink="/products/jewelery"><span class="menu-item">jewelery</span></button>
  </mat-menu>

</div>
