@import "../../../variables";

.product-card {
  width: 250px;
  height: 350px;
  font-family: $montserrat;
  font-size: 0.9rem;

  img {
    height: 200px;
    object-fit: contain;
    margin: 10px;
  }

  mat-card-content {
    height: 100%;
    margin: 10px 10px;
    font-weight: bold;
    p {
      padding: 10px 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  mat-card-actions {
    justify-content: space-between;
    margin: 20px 20px;
    font-weight: 500;
  }

  mat-icon {
    cursor: pointer;
    &:hover {
      color: green !important;
    }
  }
}
