<div class="footer">
  <div class="footer-section">
    <div class="about">
      <span class="big-title"> SHOPPING APP </span>
      <span class="description"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione et
        perspiciatis laboriosam repellendus.</span
      >
    </div>
    <div class="socials">
      <mat-icon>facebook</mat-icon>
      <mat-icon>facebook</mat-icon>
      <mat-icon>facebook</mat-icon>
    </div>
  </div>
  <div class="footer-section">
    <span class="title"> COMPANY </span>
    <ul>
      <li>About</li>
      <li>Features</li>
      <li>Works</li>
      <li>Career</li>
    </ul>
  </div>
  <div class="footer-section">
    <span class="title"> HELP </span>
    <ul>
      <li>Customer Support</li>
      <li>Delivery Details</li>
      <li>Terms & Conditions</li>
      <li>Privacy Policy</li>
    </ul>
  </div>
  <div class="footer-section">
    <span class="title"> FAQ </span>
    <ul>
      <li>Account</li>
      <li>Manage Deliveries</li>
      <li>Orders</li>
      <li>Payments</li>
    </ul>
  </div>
</div>
