@import "../../../variables";

.header {
  display: flex;
  justify-content: center;
  .navbar {
    height: 150px;
    width: 1520px;
    display: flex;
    .logo {
      font-family: $raleway;
      font-weight: bold;
      font-size: 2rem;
      text-transform: uppercase;
      flex: 1;
      cursor: pointer;
    }
    .menu {
      flex: 3;
      display: flex;
      gap: 30px;
    }
    .icons {
      display: flex;
      gap: 30px;
    }
    mat-icon {
      cursor: pointer;
    }
  }
}
