<div class="header">
  <nav class="navbar">
    <div class="logo">Shopping app</div>
    <div>
      <ul id="menu">
        <li>
          <div ngbDropdown class="d-inline-block">
            <mat-raised-button
              type="button"
              class="btn"
              id="menulink"
              ngbDropdownToggle>
              CLOTHES
            </mat-raised-button>
            <div ngbDropdownMenu aria-labelledby="menulink">
              <div>
                <button class="btn"><a href="">Shirts</a></button>
              </div>
              <div>
                <button class="btn"><a href="">Shirts</a></button>
              </div>
              <div>
                <button class="btn"><a href="">Shirts</a></button>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn" id="menulink" ngbDropdownToggle>
                TECHNOLOGY
              </button>
              <div ngbDropdownMenu aria-labelledby="menulink">
                <div>
                  <button class="btn"><a href="">Shirts</a></button>
                </div>
                <div>
                  <button class="btn"><a href="">Shirts</a></button>
                </div>
                <div>
                  <button class="btn"><a href="">Shirts</a></button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn" id="menulink" ngbDropdownToggle>
                FURNITURE
              </button>
              <div ngbDropdownMenu aria-labelledby="menulink">
                <div>
                  <button class="btn"><a href="">Shirts</a></button>
                </div>
                <div>
                  <button class="btn"><a href="">Shirts</a></button>
                </div>
                <div>
                  <button class="btn"><a href="">Shirts</a></button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><mat-icon>shopping_basket</mat-icon></li>
      </ul>
    </div>
  </nav>
</div>
