<div class="home">
  <app-carousel></app-carousel>
  <div class="section">
    <h1 class="raleway">New Arrivals</h1>
    <div class="items">
      <app-card class="items-card"></app-card>
      <app-card class="items-card"></app-card>
      <app-card class="items-card"></app-card>
    </div>
  </div>
  <hr />
  <div class="section">
    <h1 class="raleway">Top Ratings</h1>
    <div class="items">
      <app-card class="items-card"></app-card>
      <app-card class="items-card"></app-card>
      <app-card class="items-card"></app-card>
    </div>
  </div>
  <hr />
  <div class="section">
    <h1 class="raleway">Comments</h1>
    <div class="items">
      <app-comments class="items-card"></app-comments>
      <app-comments class="items-card"></app-comments>
      <app-comments class="items-card"></app-comments>
      <app-comments class="items-card"></app-comments>
    </div>
  </div>
  <app-email-section></app-email-section>
  <hr/>
</div>