.cart {
    min-height: 80vh;
    width: 80vw;
    margin: auto;
    .empty-cart {
        text-align: center;
        margin-top: 100px;
        h1 {
            font-weight: bold;
        }
    }
    td, th {
        padding: 15px;
    }
    img {
        mix-blend-mode: multiply;
    }
    mat-icon {
        cursor: pointer;
        color: rgb(189, 0, 0);
    }
}